<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>編集確認画面</title>
<link rel="stylesheet" th:href="@{/css/style.css}">
<link rel="stylesheet" th:href="@{/css/edit.css}">
</head>
<body>
<!--	header定期-->
<form th:object="${atEditForm}">
<div class="top-bar">
	<a href="/home" class="logo-box">
	<div class="logo">
	<span class="logo-m">M</span> <span class="logo-company">COMPANY</span>
	</div>
    </a>
	  <div class="title">Prokaryotes</div>
	</div>
	<div class="top-title">編集確認画面</div><br>
	
	<div class="confirm">
			<div class="row">
			  <label>社員番号</label>
			  <span class="emp-id"><div th:text="*{emp_num}"></div></span>
			</div><br>
			<div class="row">
			  <label>日付</label>
			  <span class="at-date"><div th:text="*{date}"></div></span>
			</div><br>
			<div class="row">
			  <label>勤怠区分</label>
			  <span class="at-time"><div th:text="*{at_type_code}"></div></span>
			</div><br>
			<div class="row">
			  <label>始業時刻</label>
			  <span class="at-time"><div th:text="*{st_time}"></div></span>
			</div><br>
			<div class="row">
			   <label>終業時刻</label>
			  <span class="at-time"><div th:text="*{fn_time}"></div></span>
			</div><br>
			<div class="row">
			  <label>休憩時間</label>
			  <span class="at-time"><div th:text="*{rest_time}"></div></span>
			</div><br>
			<div class="check-message"><h3>この内容で<span class="edit-check">更新</span>してよろしいですか。</h3></div>
	  </form>
    <form th:action="@{/edit_conf}" method="POST" th:object="${atEditForm}">
		<input type="hidden" th:field="*{emp_num}">
    	<input type="hidden" th:field="*{date}">
    	<input type="hidden" th:field="*{at_type_code}">
		<input type="hidden" th:field="*{st_time}">
		<input type="hidden" th:field="*{fn_time}">
		<input type="hidden" th:field="*{rest_time}">
    	<input type="submit" value="更新実行" class="edit-button">
   	</form>
   	</div>
    <form th:action="@{/at_show_edit}" method="POST" th:object="${atEditForm}">
		<input type="hidden" th:field="*{emp_num}">
		<input type="hidden" th:field="*{date}">
		<input type="hidden" th:field="*{at_type_code}">
		<input type="hidden" th:field="*{st_time}">
		<input type="hidden" th:field="*{fn_time}">
		<input type="hidden" th:field="*{rest_time}">
    	<input type="submit" value="戻る" class="return-button">
   	</form>
	<br>
	<a th:href="@{/home}">管理メニューに戻る</a>

     <!--footer定期-->
     <footer class="footer">
	  © 2025 M COMPANY All rights reserved.
	 </footer>
</body>
</html>
