<!DOCTYPE html>
<html lang="ja">
<head><meta charset="UTF-8">
<title>勤怠情報・一覧</title>
<link rel="stylesheet" th:href="@{/css/style.css}">
<link rel="stylesheet" th:href="@{/css/pay_search.css}">
</head>
<body>
	<!--	header定期-->
			
			<div class="top-bar">
				<a href="/home" class="logo-box">
				  <div class="logo">
				    <span class="logo-m">M</span> <span class="logo-company">COMPANY</span>
				  </div>
				</a>
			  <div class="title">Prokaryotes</div>
			</div>
			<div class="top-title">検索画面</div>

<form th:action="@{/pay_search}" method="POST" th:object="${PaySearchForm}">
<div class="attendance-search">	
  <div class="row">
  部署ID<input type="text" th:field="*{team_code}"/>
  </div><br>
  <div class="row">
  社員番号<input type="text" th:field="*{emp_num}"/>
  </div><br>
  <div class="row">
  日付<input type="date" th:field="*{date}"/>
  </div><br>
  <div class="row">
  勤怠区分
  <select th:field="*{at_type_code}">
    <option value="">全て</option>
    <option value="01">出勤</option>
    <option value="02">遅刻</option>
    <option value="03">休暇</option>
  </select>
  </div>
  <br><br>
  <input type="submit" value="検索" class="search-button"/>
</div>
</form>

<div th:if="${EmpAtDataSoumuList} != null">
	<table class="at_list">
		<tr>
			<th>出力</th><th>社員番号</th><th>社員氏名</th><th>日付</th><th>勤怠区分</th><th>始業時刻</th><th>終業時刻</th><th>休憩時間</th><th>累積超過時間</th><th>総合時間</th>
		</tr>

		<tr th:each="ead : ${EmpAtDataSoumuList}">
			</td>
			<td><form th:action="@{/output_conf}" method="POST" th:object="${OutPutForm}">
				<input type="hidden" name="emp_num" th:value="${ead.emp_num}">	
				<input type="hidden" name="emp_name" th:value="${ead.emp_name}">
				<input type="hidden" name="over_time" th:value="${ead.over_time}">
				<input type="hidden" name="total_time" th:value="${ead.total_time}">
				<input type="submit" value="出力" class="out"/>
			</form></td>
			<td th:text="${ead.emp_num}"></td>
			<td th:text="${ead.emp_name}"></td>
			<td th:text="${ead.date}"></td>
			<td th:text="${ead.at_type_code}"></td>
			<td th:text="${ead.st_time}"></td>
			<td th:text="${ead.fn_time}"></td>
			<td th:text="${ead.rest_time}"></td>
			<td th:text="${ead.over_time}"></td>
			<td th:text="${ead.total_time}"></td>
		</tr>
		</table>
</div>

<br>

<br>
<a th:href="@{/home}">管理メニューに戻る</a>

</body>
</html>
