.regist-form{
  border: 4px solid #267EC5;
  width: 500px;
  margin: 30px auto;
  padding: 20px;
  box-sizing: border-box;
}

.form {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.row {
  display: flex;
  align-items: center;
  gap: 10px;
  font-size: 16px;
  color: #2069A5;
  font-weight: bold;
}

.emp-row {
  margin-left: 66px; /* 日付ラベルの幅と合わせる */
}

.emp-id, .at-date, .at-time {
  font-weight: normal;
  color: black;
}
