<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>新規登録画面</title>
<link rel="stylesheet" th:href="@{/css/style.css}">
<link rel="stylesheet" th:href="@{/css/at_search.css}">
</head>
<body>
<!--	header定期-->

	<div class="top-bar">
	  <div class="logo-box">
	    <span class="logo-m">M</span> COMPANY</div>
	  <div class="title">Prokaryotes</div>
	  <div class="user-info">社員ID XXXXX　宮崎 詩織</div>
	</div>
	<div class="top-title">新規登録画面</div><br>

    <form th:action="@{/at_regist}" method="POST" th:object="${atRegistForm}">

	    <label>社員ID</label>
	    <span class="emp-id">XXXXXX</span><br>
    	<label>日付</label>YYYY-MM-DD
    	<input type="date" th:field="*{date}"><br>
    	<div th:if="${#fields.hasErrors('date')}" th:errors="*{date}" class="error-msg"></div>
		<br>
    	<label>勤怠区分</label>
    	<input type="text" th:field="*{at_type_code}"><br>
    	<div th:if="${#fields.hasErrors('at_type_code')}" th:errors="*{at_type_code}" class="error-msg"></div>
		<br>
		<label>始業時刻</label> HH:MM:SS
		<input type="time" step="1" th:field="*{st_time}"><br>
		<div th:if="${#fields.hasErrors('st_time')}" th:errors="*{st_time}" class="error-msg"></div>
		<br>
		<label>終業時刻</label> HH:MM:SS
		<input type="time" step="1" th:field="*{fn_time}"><br>
		<div th:if="${#fields.hasErrors('fn_time')}" th:errors="*{fn_time}" class="error-msg"></div>
		<br>
		<label>休憩時間</label> HH:MM:SS
		<input type="time" step="1" th:field="*{rest_time}"><br>
		<div th:if="${#fields.hasErrors('rest_time')}" th:errors="*{rest_time}" class="error-msg"></div>
		<br>
	    <div class="checkbox-section">
	      <div class="checkbox-title">勤怠区分</div>
	      <div class="checkbox-row">
	        <label><input type="checkbox"> 出勤</label>
	        <label><input type="checkbox"> 年休</label>
	        <label><input type="checkbox"> 振出</label>
	      </div>
	      <div class="checkbox-row">
	        <label><input type="checkbox"> 休日</label>
	        <label><input type="checkbox"> 振休</label>
	        <label><input type="checkbox"> 欠勤</label>
	      </div>
	    </div>
	      <input type="submit" value="登録" class="regist-button">
    </form>
      <form th:action="@{/at_show_search}" method="POST">
        <input type="submit" value="戻る"class="return-button" >
      </form>
</body>
</html>
