.regist-form, .confirm{
  border: 4px solid #267EC5;
  width: 520px;
  margin: 30px auto;
  padding: 20px;
  box-sizing: border-box;
}

.form {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.row {
  display: flex;
  align-items: center;
  gap: 15px;
  font-size: 18px;
  color: #2069A5;
  font-weight: bold;
  padding-left: 100px;
}

.emp-id, .at-date, .at-time {
  font-weight: normal;
  color: black;
}
