.attendance-search {
  border: 4px solid #267EC5;
  width: 440px;
  margin: 30px auto;
  padding: 20px;
  box-sizing: border-box;
  background-color: #fff;
  font-family: sans-serif;
}
.row {
  display: flex;
  align-items: center;
  gap: 15px;
  font-size: 18px;
  color: #2069A5;
  font-weight: bold;
  padding-left: 80px;
}
.confirm-table{
	width:500px;
	
}
