<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>勤怠情報・一覧</title>
<link rel="stylesheet" th:href="@{/css/style.css}">
<link rel="stylesheet" th:href="@{/css/at_search.css}">
</head>
<body>
	<!--	header定期-->
		<div class="top-bar">
			<a href="/home" class="logo-box">
			<div class="logo">
			<span class="logo-m">M</span> <span class="logo-company">COMPANY</span>
		    </div>
		</a>
		  <div class="title">Prokaryotes</div>
		  <div class="user-info">社員ID XXXXX　宮崎 詩織</div>
		</div>
		<div class="top-title">検索画面</div>
<div class="attendance-search">	
<form th:action="@{/at_search}" method="POST" th:object="${AtSearchForm}">
  <input type="hidden" th:field="*{emp_num}"/>
  <br>
  <div class="row">
  日付<input type="date" th:field="*{date}"/>
  </div><br>
  <div class="row">
  社員ID<span class="emp-id">XXXXXX</span>
  </div><br>
  <div class="row">
  勤怠区分
  <select th:field="*{at_type_code}">
    <option value="">全て</option>
    <option value="01">出勤</option>
    <option value="02">遅刻</option>
    <option value="03">休暇</option>
  </select>
  </div>
  <br><br>
  <input type="submit" value="検索" class="search-button"/>
</form>
</div>
<br>
<form th:action="@{/at_show_regist}" method="POST">
    <input type="submit" value="新規登録" class="register-button">
</form>

<div th:if="${EmpAtDataList} != null">
	<h2>勤怠一覧</h2>

	<table class="at_list">
		<tr>
			<th colspan="2">操作</th><th>社員番号</th><th>日付</th><th>勤怠区分</th><th>始業時刻</th><th>終業時刻</th><th>休憩時間</th>
		</tr>

		<tr th:each="ead : ${EmpAtDataList}">
			<td>
				<form th:action="@{/at_show_edit}" method="POST">
					<input type="hidden" name="emp_num" th:value="${ead.emp_num}">
					<input type="hidden" name="date" th:value="${ead.date}">
					<input type="hidden" name="at_type_code" th:value="${ead.at_type_code}">
					<input type="hidden" name="st_time" th:value="${ead.st_time}">
					<input type="hidden" name="fn_time" th:value="${ead.fn_time}">
					<input type="hidden" name="rest_time" th:value="${ead.rest_time}">
					<input type="submit" value="編集" class="tbtn">
				</form>
			</td>
			<td>
				<form th:action="@{/delete}" method="POST">
					<input type="hidden" name="emp_num" th:value="${ead.emp_num}">
					<input type="hidden" name="date" th:value="${ead.date}">
					<input type="hidden" name="at_type_code" th:value="${ead.at_type_code}">
					<input type="hidden" name="st_time" th:value="${ead.st_time}">
					<input type="hidden" name="fn_time" th:value="${ead.fn_time}">
					<input type="hidden" name="rest_time" th:value="${ead.rest_time}">
					<input type="submit" value="削除" class="tbtn">
				</form>
			</td>
			<td th:text="${ead.emp_num}"></td>
			<td th:text="${ead.date}"></td>
			<td th:text="${ead.at_type_code}"></td>
			<td th:text="${ead.st_time}"></td>
			<td th:text="${ead.fn_time}"></td>
			<td th:text="${ead.rest_time}"></td>
		</tr>

	</table>

</div>

<br>
<a th:href="@{/home}">管理メニューに戻る</a>
<!--footer定期-->
<footer class="footer">
  © 2025 M COMPANY All rights reserved.
</footer>


</body>
</html>
